*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vertex-container{
    background-color: #F0F0F5;
}

button {
    border:none;
}

.container-full{
    height: 100vh;
}

.container-hidden{
    overflow: hidden;
}

.header-color{
    color: #1663A7;
}

.container-color{
    background-color: #1663A7;;
}

.text-lighter{
    font-weight: lighter;
}

.min-height-100{
    min-height: 100%;
}

/* Loader */

/* Navbar */
#app-nav-bar{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 0 160px 0 160px;
    
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: 0.5s linear;
}

#app-nav-bar:hover {
    padding-top: 48px;
}

#submenu{
    position: absolute;
    list-style: none;
    left: 0;
    width: 100%;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

#business-division-link{
    cursor: pointer;
}

li:hover ul#submenu {
    opacity: 1 !important;
    visibility: visible !important;
}

.submenu-link{
    text-decoration: none;
}

#submenu h3 {
    color: #1663A7 !important;
    transition: color 0.3s linear;
}

#submenu > .submenu-link:hover h3 {
    color: white !important;
}

#sales-link{
    background-image: linear-gradient(rgba(3, 29, 52, 0.5), rgba(3, 29, 52, 0.5)), url("/images/division/sales_div.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    transition: background-image 0.5s linear;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
}

#project-link{
    background-image: linear-gradient(rgba(3, 29, 52, 0.5), rgba(3, 29, 52, 0.5)), url("/images/division/proj_div.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
}

#engine-link{
    background-image: linear-gradient(rgba(3, 29, 52, 0.5), rgba(3, 29, 52, 0.5)), url("/images/division/engine_div.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
}


.font--link{
    font-size: 24px !important;
    font-weight: 700 !important;
}

/* Hero Section */
#hero-section {
    position: relative;
    width: 100%;
    
    overflow: hidden;
    padding: 0 160px 0 160px;
}
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #031D34;
    opacity: 0.2;
    z-index: 2;
}

#hero-content {
    position: relative;
    z-index: 3;
}

.header-one{
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

#hero-content button{
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: #031D34;
    font-weight: 700;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Who We Are Section*/
#who-we-are{
    padding: 90px;
}

.wwa-heading{
    font-size: 80px;
    font-weight: bold;
    color: #1663A7;
}

/* Division Section */
.division-header{
    font-size: 80px;
    font-weight: bold;
    color: #1663A7
}

.division-subheader{
    color: #1663A7;
}

.division-text{
    font-weight: lighter;
    color: #1663A7
}

#division--proj {
    background-image: linear-gradient(rgba(22, 99, 167, 0.7), rgba(22, 99, 167, 0.7)), url("/images/division/proj_div.png");
    position: relative;
    overflow: hidden;
}

#division--proj {
    background-image: linear-gradient(rgba(22, 99, 167, 0.7), rgba(22, 99, 167, 0.7)), url("/images/division/proj_div.png");
    position: relative;
    overflow: hidden;
}

#division--proj {
    background-image: linear-gradient(rgba(22, 99, 167, 0.7), rgba(22, 99, 167, 0.7)), url("/images/division/proj_div.png");
    position: relative;
    background-size: cover;
    overflow: hidden;
}

#division--sales {
    background-image: linear-gradient(rgba(22, 99, 167, 0.7), rgba(22, 99, 167, 0.7)), url("/images/division/sales_div.png");
    position: relative;
    background-size: cover;
    overflow: hidden;
}

#division--eng {
    background-image: linear-gradient(rgba(22, 99, 167, 0.7), rgba(22, 99, 167, 0.7)), url("/images/division/engine_div.png");
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.division--card {
    position: relative;
    z-index: 2;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    z-index: 1;
    opacity: 1;
}

#division-btn {
    background-color: #1663A7;
    color: white;
    border: none;
    border-radius: 20px;
}

.business-div:hover .bg-overlay {
    transform: translateX(-100%);
    opacity: 0;
}

.business-div:hover #division-btn{
    background-color: white;
    color: #1663A7;
}

.business-div:hover .division-header, 
.business-div:hover .division-subheader, 
.business-div:hover .division-text{
    color: white !important;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}


/* Home Partners */
#home-partners {
    width: 100%;
    padding: 5rem 0 10rem 0;
    background-color: #F0F0F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#partners-wrapper {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#partners-container {
    display: flex;
    animation: slide 10s linear infinite;
}

#partners-container img {
    width: clamp(5rem, 12vw, 15rem);
    margin: 0 2rem;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Footer Section */
#footer-section {
    background-color: #545454;
}

#contact-us{
    max-width: 600px;
    min-width: 400px;
}

#contact-us input{
    border: 1px solid gray;
}

#contact-icon {
    font-size: 20px;
}

#footer-icons {
    font-size: 45px;
}

/* Engineer Division */
#hero-engineer {
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/engineer/hero-engineer.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 0 160px 0 160px;
    width: 100%;
}

#engineer-service{
    width: 70%;
    min-width: 400px;
}

.text-justify-content {  
    letter-spacing: 2px;
    text-align: justify;
    font-weight: lighter;
}

.division-heading {
    font-size: 60px;
    font-weight: bold;
    color: #1663A7
}

.services {
    position: relative;
    overflow-y:hidden;
}

.services > img {
    z-index: 2;
}
.services > .service-content{
    position: absolute;
    width: 90%;
    height: 100%;
    margin-left: 10%;
    z-index: 1;
    background-color: #1663A7;
}
#engineers{
    overflow: hidden;
}

#enginner-one{
    background-image: linear-gradient(rgba(6, 68, 122, 0.6), rgba(6, 68, 122, 0.6)), url("/public/images/engineer/engineer-1.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#enginner-two{
    background-image: linear-gradient(rgba(6, 68, 122, 0.6), rgba(6, 68, 122, 0.6)), url("/public/images/engineer/engineer-2.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#enginner-three{
    background-image: linear-gradient(rgba(6, 68, 122, 0.6), rgba(6, 68, 122, 0.6)), url("/public/images/engineer/engineer-3.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#engineers h5 {
    font-weight: lighter;
    text-align: justify;
}

#engineers h1 {
    color: #1663A7;
}

/* Sales Division */
#hero-sales {
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/sales/sales-hero.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 0 160px 0 160px;
    width: 100%;
}

#sales-1{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/sales/sales-1.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sales-2{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/sales/sales-2.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sales-3{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/sales/sales-3.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sales-4{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/sales/sales-4.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sales-5{
    background-image: linear-gradient(rgba(22, 99, 167, 0.2), rgba(22, 99, 167, 0.2)), url("/public/images/sales/sales-5.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sales-content{
    width: 60%;
    min-width: 200px;
}

/* Project Division */

#hero-project{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/projects/project-hero.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 0 160px 0 160px;
    width: 100%;
}

#project-content {
    min-height: 100%;
    border: 1px solid #1663A7;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1663A7;
    opacity: 0.3;
    z-index: 1;
    transition: left 0.5s ease;
}

.card-img-container {
    position: relative;
    overflow: hidden; /* Ensure the overlay doesn't overflow outside the container */
}

.card-img-container img {
    display: block;
    width: 100%;
}

.card-img-container:hover .image-overlay {
    left: -100%; /* Slide the overlay to the left when hovered */
}

/* About Us */
#hero-about{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/about/hero-about.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 0 160px 0 160px;
    width: 100%;
}

/* Reference */
#hero-ref{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/reference/hero-reference.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 0 160px 0 160px;
    width: 100%;
}

/* Reference */
#hero-partners{
    background-image: linear-gradient(rgba(3, 29, 52, 0.6), rgba(3, 29, 52, 0.6)), url("/public/images/partners/hero-partners.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 0 160px 0 160px;
    width: 100%;
}

/*---- Size Responsive Design -----*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    #app-nav-bar{
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin: 0 60px 0 60px;
    }

    .font--link{
        font-size: 18px !important;
    }
    
    #hero-section { 
        padding: 0 60px 0 60px;
    }

    .header-one{
        font-size: 60px;
        font-weight: bold;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .wwa-heading{
        font-size: 40px;
    }

    .wwa-subheading{
        font-size: 28px;
        font-weight: lighter !important;
    }

    .division-header{
        font-size: 40px;
    }
}

@media screen and (max-width: 768px){
    #app-nav-bar{
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin: 0 20px 0 20px;
    }

    #hero-section {
        padding: 0 20px 0 20px;
    }

    .header-one{
        font-size: 60px;
        font-weight: bold;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .wwa-heading{
        font-size: 40px;
    }

    .wwa-subheading{
        font-size: 24px;
        font-weight: lighter !important;
    }
}

